{% extends 'authen_base.html' %} {% load static %} {% block content %}

<div class="popup-panel">
	<div class="body body-center">
		<form method="post" class="content">{% csrf_token %}
			<span class="title">Password</span>
			<span class="error-msg">{{messages}}</span>
			<div class="form-group">
				<label for="current_password">Current Password</label>
				<input type="password" name="current_password" required>
				<label for="new_password">New Password</label>
				<input type="password" name="new_password" required>
				<label for="confirm_password">Confirm New Password</label>
				<input type="password" name="confirm_password" required>
			</div>
			<button class="btn" type="submit">Save</button>
		</form>
		<span class="close-btn" onclick="goback()">Go Back</span>
	</div>
</div>
{% endblock %}